body {
    display: flex;
    flex-direction: column;
  }

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.plot {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
button {
    margin-bottom: 10px;
}

.button-style {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #44AE97;
    color: white;
    border: none;
    cursor: pointer;
}
.button-style:hover {
    background-color: #51D5B8;
}
/**viz_3**/
#first_circle{
height: 10.52px;
  width: 10.52px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin:2px
}
#second_circle{
height: 23.32px;
  width: 23.32px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}
#third_circle{
height: 36.14px;
  width: 36.14px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin:2px
}
#fourth_circle{
height: 48.94px;
  width: 48.94px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}
.plot-container {
overflow: hidden !important;
}
.user-select-none {
width : 800px !important;
}
